* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

@font-face {
    font-family: 'chancery';
    src: url('fonts/AppleChancery.ttf');
}

#backdrop {
    position: fixed;
    top: 0px;
    width: 100%;
    height: 100%;
    //background-color: #020444;
    background: linear-gradient(to bottom, #081838 0%, #002068 100%);
    overflow:hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#screen {
    position: relative;
    top: 0px;
    width: 1000px;
    height: 634px;
    background-color: #321000;
    background: url('../resources/images/wood.png');
    background-size: cover;
    color: #fff;
    font-family: Apple Chancery;
    font-size:16pt;
    overflow:hidden;
    border: inset 5px #028;
}

.window {
    position: absolute;
    background-color: #900;
    overflow:hidden;
}

#bannerWin {
    position: relative;
    background-color: #005;
    background-image: url('../resources/images/banner.png');
    color: #ED4;
    font-size:32pt;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 110px;
    border: inset 4px #55ccff;
}

#bannerWin>#title {
    position: absolute;
    font-size: 32pt;
    color: #FE8;
    left: 25px;
    top: 5px;
    text-shadow: 2px 2px #000000;
}

#bannerWin>#subtitle {
    position: absolute;
    font-size: 13pt;
    color: #ED7;
    left: 25px;
    top: 60px;
    text-shadow: 1px 1px #000000;
}

#bannerWin>#day {
    position: absolute;
    font-size:18pt;
    color: #ED4;
    left: 770px;
    top: 0px;
    width: 200px;
    height: 30px;
    text-shadow: 1px 1px #000000;
}

#bannerWin>#men {
    position: absolute;
    font-size:14pt;
    color: #EEE;
    left: 715px;
    top: 40px;
    height: 30px;
    text-shadow: 1px 1px #000000;
}

#bannerWin>#experience {
    position: absolute;
    font-size:14pt;
    color: #EEE;
    left: 835px;
    top: 40px;
    height: 30px;
    text-shadow: 1px 1px #000000;
}

#bannerWin>#strength {
    position: absolute;
    font-size: 14pt;
    color: #EEE;
    left: 715px;
    top: 65px;
    height: 30px;
    text-shadow: 1px 1px #000000;
}

#bannerWin>#charisma {
    position: absolute;
    font-size:14pt;
    color: #EEE;
    left: 835px;
    top: 65px;
    height: 30px;
    text-shadow: 1px 1px #000000;
}

#main {
    position: relative;
    width: 1118px;
    height: 320px;
    margin-top: 15px;
    font-size: 0;
}

#navigatorWin {
    display: inline-block;
    //background-color: #040;
    width: 448px;
    height: 320px;
}

#mapCanvas {
    position: absolute;
    background-color: #440;
    left: 14px;
    top: 0px;
    width: 448px;
    height: 320px;
    border: outset 4px #0033aa;
}

#islandMapWin {
    position: absolute;
    background-color: #02a;
    background: url('../resources/images/islandmap.png');
    top: 0px;
    left: 476px;
    width: 500px;
    height: 320px;
}

#parchmentCanvas {
    position: absolute;
//    background: url('../resources/images/parchment.png');
    top: 0px;
    left: 476px;
    width: 500px;
    height: 320px;
    opacity: 0.8
}

#capacityElem {
    position: absolute;
    font-size: 12pt;
    left: 10px;
    top: 0px;
}

#loadElem {
    position: absolute;
    font-size: 12pt;
    left: 130px;
    top: 0px;
}

#bottom {
    position: relative;
    width: 100%;
    height: 162px;
    margin-top: 3px;
    font-size: 0;
    overflow: hidden;
}

#consoleWin {
    position: absolute;
    //background-color: #301203;
    //border: outset 3px #481a08;
    left: 0px;
    top: 0px;
    width: 726px;
    height: 154px;
    overflow: hidden;
}

#console {
    position: absolute;
    color: #ffdd88;
    left: 20px;
    top: 5px;
    width: 700px;
    height: 140px;
    font-size: 14pt;
}

#inventoryWin {
    position: absolute;
    left: 723px;
    top: 8px;
    background-color: #ffdd88;
    color: #482008;
    width: 250px;
    height: 168px;
    opacity: .95;
}

#inventoryWin>#inventoryListElem {
    position: absolute;
    background-color: #482008;
    overflow-y: hidden;
    left: 0px;
    top: 28px;
    width: 250px;
    height: 126px;
}

#inventoryWin>#inventoryListElem:hover {
    overflow-y: auto;
}

#inventoryWin>#inventoryListElem>.inventoryCell {
    position: relative;
    background-color: #482008;
    font-size: 11pt;
    color: #ffdd88;
    width: 100%;
    height: 25px;
    display: block;
    border: 1px solid #662810;
}

#inventoryWin>#inventoryListElem>.inventoryCell:hover {
    background-color: saddlebrown;
    color: white;
}

#inventoryWin>#inventoryListElem>.inventoryCell>.label {
    margin-left: 10px;
    width: 110px;
    display: inline-block;
}

#inventoryWin>#inventoryListElem>.inventoryCell>.quan {
    margin-left: 10px;
    width: 40px;
    display: inline-block;
}

#inventoryWin>#inventoryListElem>.inventoryCell>.weight {
    margin-left: 10px;
    width: 40px;
    display: inline-block;
}

#inputBox {
    background-color: transparent;
    font-size:13pt;
    color: #FE4;
    outline: none;
}